:root {
    --n: 4;
}

button {
    display: block;
    margin: 20px auto 20px auto;
}

#container {
    border: 2px solid black;
    width: 700px;
    height: 700px;
    margin: auto;
    display: flex;
    flex-flow: row wrap
}

.square {
    box-sizing: border-box;
    flex: 0 0 calc(100% / var(--n));
}